<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <strong>UNISUAM</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div id="container">

    <ion-card><br><br>
      <img alt="Foto de perfil" src="../../assets/Foto.png"/><br><br>
      <ion-card-header>
        <ion-card-title><strong>(seu nome)</strong></ion-card-title><br>
      </ion-card-header>
    
      <ion-card-content>
        <strong>(Codigo da turma)</strong>
      </ion-card-content>
    </ion-card><br>
    
  </div>
</ion-content>